body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

.container, .row{
  height: 100%;
}

.container{
  max-width: 100% !important;
  padding: 0;
}

.row{
  margin:0;
}
.col-lg-6{
  padding:0 !important;
}

.primary-title{
color: #613475;
display: block;
font-size: 3rem;
font-weight:700;
text-transform: uppercase;
}

/* ---------------------------------Button--------------------------------*/

.section-btn {
  text-decoration: none;
  display: inline-block;
  padding: .5rem 1rem;
  transition: all .2s;
  position: relative;
  font-size: 1rem;
  color: #613475;
  /*change for the <button> element*/
  border: none;
  cursor: pointer;
}

.section-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,.2);
  text-decoration: none;
  background-color: #613475;
  color: white;
}

.section-btn:hover::after{
  transform:scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

/* ---------------------------------Animations--------------------------------*/
@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
  } 
}

@keyframes moveInLeft {
  0%{
      opacity: 0;
      transform: translateX(-10rem);
  }

  80%{
      transform: translateX(1rem);
  }

  100%{
      opacity: 1;
      transform: translate(0);
  }
}

@keyframes moveInRight {
  0%{
      opacity: 0;
      transform: translateX(10rem);
  }

  80%{
      transform: translateX(-1rem);
  }

  100%{
      opacity: 1;
      transform: translate(0);
  }
}

@keyframes moveInButton {
  0%{
      opacity: 0;
      transform: translateY(3rem);
  }

  100%{
      opacity: 1;
      transform: translate(0);
  }
}

/* ---------------------------------Header Section--------------------------------*/

.header {
  height: 100vh;
  background-image: url(assets/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  animation: fadeInAnimation ease 3s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
}

.header__logo-box{
  position: absolute;
  top: 2rem;
  left: 14rem;
}

.header__logo{
  height: 3.5rem;
}

.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: white;
}

.heading-primary--main{
  display: block;
  font-size: 4rem;
  font-weight:700;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  text-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  -webkit-text-stroke: 3px white;
  -webkit-text-fill-color: transparent;
}

.heading-primary--sub{
  display: block;
  font-size: 3rem;
  font-weight:700;
  letter-spacing: .3rem;
  animation: moveInRight 1s ease-out;
}

.home-btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem;
  display: inline-block;
  transition: all .2s;
  position: relative;
  font-size: 16px;

  /*change for the <button> element*/
  border: none;
  cursor: pointer;
}

.home-btn--purple{
  background-color: #ac5fd1;
  color: white;
}

.home-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,.2);
  color:white;
  text-decoration: none;
}

.home-btn:hover::after{
  transform:scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.home-btn--animated{
  animation: moveInButton .5s ease-out .75s;
  animation-fill-mode: backwards;
}

/* ---------------------------------About Section--------------------------------*/
#img-1{
  width: 100%;
}

#about-row{
  position: relative;
}

.about__text-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.about-primary--p{
color: black;
display: block;
font-size: 1rem;
font-weight :400;
}

/* ---------------------------------Call To Action --------------------------------*/
#cta1{
  background-image: url(assets/banner-1.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

#cta2{
  background-image: url(assets/banner-2.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.cta-row{
  position: relative;
  height: 100%;
}

.cta__text-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.section-btn--cta {
  color: white;
  background-color: #ff7218 ;
}

/* ---------------------------------Features--------------------------------*/
#features{
  height: 80vh;
}

.primary-title--features{
  color: black;
}

.features-icons-top, .features-icons-bottom{
  display: inline-block;
  height: 50%;
}

.features-icons-top {
  top: 30%;
}

#icons-row{
  background-color: #fafafa;
}

#icons{
  width: 100px;
  padding: .5rem .6rem;
  border-radius: 60px;
  border: 2px #613475 solid;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition:transform .8s ease-in-out;
}

#icons:hover{
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

.icons-left{
  text-align: center;
}

/* ---------------------------------Reviews--------------------------------*/
#reviews{
  height: 60vh;
  overflow: auto;
}

#review-row{
  position: relative;
}

.review__text-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.primary-title--review{
  color: black;
}

#carousel{
  width: 600px;
}

#carousel-row{
  background-color: #fafafa;
}

#carousel p{
  font-size: 1rem;
  text-align: left;
  padding: 2rem 4rem;
  background-color: #fafafa;
  margin:0;
}

#carousel h6{
  color: #613475;
  font-weight: 700;
  background-color: #fafafa;
  margin:0;
}

.carousel__text-box{
  position: absolute;
  top: 20%;
  text-align: left;
}

i{
  color: #ff7218;
}

.carousel .slide{
  background-color: white !important;
}

.carousel .control-prev.control-arrow:before {
  border-right: 8px solid #613475 !important;
}

.carousel .control-next.control-arrow:before {
  border-left: 8px solid #613475 !important;
}

.carousel .control-arrow, .carousel.carousel-slider .control-arrow{
  opacity: 1 !important;
}

.carousel .control-dots .dot {
  background-color: #ffc718 !important;
}

/* ---------------------------------Footer--------------------------------*/
footer{
  text-align: center;
  margin-bottom: 10px;
  background: #fafafa;
}

h5{
  font-weight: 700;
}

#footer-logo{
  margin:0 10px;
  width: 50px;
}

/* ---------------------------------Media Queries--------------------------------*/
@media (max-width: 1200px) {
  #carousel{
    width: 500px;
  }
}

@media (max-width: 991px) {
    .header__logo-box{
      left: 2rem;
  }

  .header__logo{
      height: 2rem;
  }
  
  .about__text-box {
    position: relative;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
    text-align: center;
  }

  .icons-right{
    text-align: center;
  }

  #features{
    height: 100%;
  }

  .features-icons-top{
    top: 0%;
  }
  .features-icons-top, .features-icons-bottom{
    height: 20%;
  }

  .primary-title--features{
    font-size: 2rem;
  }

  .cta2-div{
    display:none;
  }

  .carousel__text-box{
    top: 0%;
    left:0%
  }

  .review__text-box {
    position: relative;
    top: 30%;
    left: 0%;
    transform: translate(0%, 0%);
    text-align: center;
  }

  #carousel{
    width: 100%;
  }

}

@media (max-width: 630px) {
  #carousel{
    width: 100%;
  }

  .carousel__text-box{
    left:0%
  }

  #cta1, #cta2{
    height: 60vh;
  }
}

@media (max-width: 400px) {
  #cta1, #cta2{
    height: 40vh;
  }
}